.app {
  /* text-align: center; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NOT USED YET  */

.login {
  height: 80vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
  /* border-style: dashed; */
}

.signup {
  height: 80vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
  /* border-style: dashed; */
}

/* NAV STUFF HERE */

.nav-container {
  height: 15vh;
  width: 100vw;
  /* background-color: #64a5e182; */
  /* margin: 2%; */
  /* border-style: dashed; */
}

.nav-list {
  list-style-type: none;
}

.nav-list > li {
  float: right;
  padding: 3%;
}

/* HOMEPAGE HERE */

.home {
  /* background-color: coral; */
  background-image: url(https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
  height:85vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
  /* border-style: dashed; */
}

.welcome-and-search-container > h1 {
  color: rgb(130, 187, 187);
  margin-top: 20%;
}

/* COUNTRY SEARCH IN HOMEPAGE*/

.country-search-container {
  height: 15vh;
  width: 30vw;
  text-align: center;
  justify-content: center;
  display: flex;
}

.country-search-bar {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 10%;
}

.country-search-bar > input {
  /* border-radius: 10%; */
  width: 500px;
  text-align: center;
  font-size: 24px;
  padding: 5%;
  outline: none;
}

.country-page-container {
  background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
  height:85vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
  /* border-style: dashed; */
}

/* USER PROFILE CSS */

.profile-container {
  /* background-color: coral; */
  background-image: url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-size: cover;
  height: 85vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  display: flex;
}

.profile-left-container {
  /* border-style: dashed; */
  width: 50%;
}

.profile-right-container {
  /* border-style: dashed; */
  width: 50%;
  overflow: scroll;
}

.toggle-button {
  font-size: 16px;
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  background-color: rgba(221, 160, 221);
  outline: none;
}

.toggle-button:hover {
  background-color: rgb(130, 54, 130);
}

.user-img {
  width: 30%;
  border-radius: 50%;
}

.username {
  color: rgb(5, 83, 152);
}

.user-bio {
  border-style: double;
  border-radius: 50%;
  background-color: rgba(95, 170, 227, 0.598);
  padding: 5%;
  /* margin-right: 30%; */
  margin: 5% 30% 0% 10%;
}

/* PROFILE POSTS */

.user-post-card {
  background-color: rgba(91, 160, 130);
  border-style: double;
  border-radius: 0%;
  margin: 5%;
  width: 90%;
  box-shadow: 5px 10px #6a7479a8;
}

.post-countryname {
  margin-right: 80%;
  font-family: cursive;
}

.comments-container {
  background-color: rgba(76, 215, 206, 0.379);
}

.comment {
  border: solid;
}