.app {
  /* text-align: center; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px dashed;
}

.login-container {
  background-image: url(https://images.unsplash.com/photo-1437846972679-9e6e537be46e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  /* border-style: dashed; */
}

/* NAV STUFF HERE */

.nav-container {
  height: 10vh;
  width: 100%;
  background-color: #64a5e182;
  border: 2px dashed;
}

.nav-list {
  list-style-type: none;
}

.nav-list > li {
  float: right;
  padding: 20px;
}

.nav-profile-img {
  /* float: right; */
  width: 10%;
  border-radius: 50%;
  border: solid;
}

/* HOMEPAGE HERE */

.home {
  /* background-color: coral; */
  background-image: url(https://images.unsplash.com/photo-1498855926480-d98e83099315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
  height: 90vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  border-style: dashed;
}

.welcome-and-search-container > h1 {
  margin-top: 30%;
  margin-bottom: 10%;
  color: rgb(238, 149, 149);
  font-size: 75px;
}

/* COUNTRY SEARCH IN HOMEPAGE*/

.country-search-container {
  height: 15vh;
  width: 30vw;
  text-align: center;
  justify-content: center;
  display: flex;
}

.country-search-bar {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 10%;
}

.country-search-bar > input {
  border-radius: 40%;
  width: 500px;
  text-align: center;
  font-size: 24px;
  padding: 5%;
  outline: none;
}

/* COUNTRY PAGE */

.country-page-container {
  /* background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-repeat: no-repeat;
  background-size: cover; */
  height: 90vh;
  width: 100%;
  border: 2px dashed;
  /* text-align: center;
  justify-content: center; */
  display: flex;
  flex-direction: column;
}

.country-title {
  font-size: x-large;
  border: 2px dashed;
  width: 100%;
  height: 10vh;
  text-align: center;
  justify-content: center;
  display: flex;
}

.country-users-posts-container {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.post-form-container {
  border: 2px dashed;
  margin: 5%;
  background: rgb(232, 159, 159);
}

.country-users-container {
  border: 2px dashed;
  width: 20%;
  height: 80vh;
  overflow: scroll;
}

.country-users-container > h3 {
  background-color: rgb(235, 221, 64);
  border: 2px dashed;
}

.country-user-card {
  border: solid;
  background-color: rgb(131, 179, 201);
  margin: 10px;
}

.country-user-card > h3 > img {
  border: solid;
  width: 20%;
  border-radius: 50%;
}

/* COUNTRY POSTS */

.country-posts-container {
  border: 2px dashed;
  width: 80%;
  height: 80vh;
  overflow: scroll;
}

.country-post-card {
  background-color: rgb(208, 155, 213);
  border-style: solid;
  margin: 5%;
  width: 90%;
}

.post-user-img {
  width: 5%;
  border-radius: 50%;
  border: solid;
}

.post-img {
  height: 20%;
  width: 30%;
  border-radius: 50%;
  border: solid;
}

.delete-post-button {
  border: none;
  outline: none;
}

.liked-button {
  font-size: xx-large;
  border-radius: 50%;
  border: none;
  outline: none;
}

.like-button {
  border-radius: 50%;
  border: none;
  outline: none;
} 

/* USER PROFILE CSS */

.profile-container {
  /* background-color: coral; */
  /* background-image: url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
  background-size: cover; */
  height: 90vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.profile-left-container {
  border: 2px dashed;
  width: 40%;
}

.edit-bio-form > input {
  margin: 1%;
}

.profile-right-container {
  border: 2px dashed;
  width: 60%;
  overflow: scroll;
}

.toggle-button {
  font-size: 16px;
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  background-color: rgba(221, 160, 221);
  outline: none;
}

.toggle-button:hover {
  background-color: rgb(130, 54, 130);
}

.user-img {
  width: 30%;
  border-radius: 50%;
}

.username {
  color: rgb(5, 83, 152);
}

.user-bio {
  border-style: solid;
  /* border-radius: 50%; */
  background-color: rgb(95, 170, 227);
  padding: 5%;
  /* margin-right: 30%; */
  margin: 5% 30% 0% 5%;
  width: 75%;
  height: 55%;
}

/* PROFILE POSTS */

.user-post-card {
  background-color: rgb(208, 155, 213);
  border-style: solid;
  width: 100%;
  margin: 2%;
}

.post-countryname {
  margin-right: 80%;
  font-family: cursive;
}

.comments-container {
  background-color: rgb(76, 194, 215);
}

.comment {
  border: solid;
}

.comment > p > img {
  width: 3%;
  border-radius: 50%;
  border: solid;
}

.likes-comments-container > button {
  margin: 2%;
  background-color: white;
  border-color: white;
}

/* AUTOCOMPLETE - HOME STYLING */

.autocomplete-wrapper {
  width: 400px;
  position: relative;
  display: inline-block;
}

.autocomplete-wrapper > div {
  width: 100%;
}

.autocomplete-wrapper input {
  border: 2px solid rgb(13, 63, 63);
  padding: 12px 15px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.autocomplete-wrapper input:focus {
  border-color: rgb(13, 63, 63);
  box-shadow: none;
  outline: none;
}

.autocomplete-wrapper .dropdown {
  width: 100%;
  padding: 12px 15px;
  text-align: center;
  max-height: 280px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #8bbfd2;
  border: 2px solid rgb(13, 63, 63);
  border-top: none;
}

.autocomplete-wrapper .item  {
  display: block;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
}

.autocomplete-wrapper .item.selected-item {
  background-color: #3f669d;
  color: #FAFBFC;
}

.autocomplete-wrapper .item:hover {
  background-color: #3f669d;
  color: #FAFBFC;
}

.autocomplete-wrapper > button {
  font-size: x-large;
}

